.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flex img{
    width: 50vw;
    height: 50vh;
}

.flex button{
    margin-top: 50px;
}